.mainBody {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: lightgray;
}

.headerContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: calc(40px + 2.5vmin);
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px gray;
  z-index: 1002;
  background-color: white;
}

.sidebarContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  top: calc(40px + 2.5vmin);
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px 5px gray;
  z-index: 1002;
  background-color: white;
  transition: all 1s;
  overflow: hidden;
}

.routingOutlet {
  position: absolute;
  right: 0;
  top: calc(40px + 4.5vmin);
  bottom: 0;
  background-color: white;
  border-radius: 10px 0 0 0;
  padding: calc(5px + 1vmin);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s;
}

.profileOptions {
  position: absolute;
  top: calc(40px + 3vmin);
  right: calc(5px + 0.5vmin);
  width: calc(40px + 10vmin);
  background-color: white;
  z-index: 1002;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}

.profileOptionsList {
  width: 100%;
}

.searchField {
  border: none;
  border-radius: 0.4vw;
  width: calc(120px + 15vmin);
  height: calc(15px + 2.5vmin);
  color: black;
  background-color: rgb(235, 239, 240);
  display: inline-block;
  font-size: calc(5px + 1vmin);
  padding: 0.2vw;
}

.searchInput {
  height: calc(15px + 2vmin);
  border: none;
  color: black;
  background-color: inherit;
  padding: 0.5vw;
  width: calc(50px + 10vmin);
  outline: none;
  font-size: calc(5px + 1vmin);
}

.searchIcon {
  display: inline;
  margin: 0.5vw;
  cursor: pointer;
  width: calc(5px + 1vmin);
}

.menuIcon {
  margin: calc(10px + 1vmin);
  font-size: calc(5px + 2vmin);
}

.menuItems {
  font-size: calc(5px + 0.5vw);
  padding: calc(5px + 1vmin) calc(5px + 1.5vmin);
}
