.loginBody {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgb(5, 5, 74), rgb(107, 107, 171), white);
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.loginForm {
  width: calc(100px + 50vmin);
  height: calc(200px + 30vmin);
  box-shadow: 0px 0px 100px black;
  border-radius: 10px;
  padding: 0 calc(5px + 1.5vmin);
}

.filedContainer {
  padding: 0 calc(5px + 2vmin) calc(10px + 3vmin);
}

.inputField {
  width: 100%;
  height: calc(20px + 3vmin);
  border-radius: 5px;
  padding: 1.5vmin;
  margin: 0.5vmin 0;
}

.passwordField {
  position: relative;
  height: calc(20px + 2.5vmin);
  border-radius: 5px;
  border: 1px solid;
  margin: 0.5vmin 0;
}

.passwordInput {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 85%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0.5vw;
  outline: none;
}

.passwordFieldAppend {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(159, 158, 158);
  width: 15%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
}

.errorContainer {
  font-size: calc(5px + 1vmin);
  color: red;
  height: calc(10px + 1.5vmin);
  margin-bottom: 0.5vw;
}

.labels {
  padding: calc(2px + 1vmin) calc(5px + 2vmin);
  font-size: calc(5px + 1.5vmin);
  font-weight: 600;
}
