.formcontainer {
  border: 0.3vmin solid gray;
  border-radius: 1vw;
  padding: 1vmin 1vmin 0vw 1vmin;
  margin: 1vmin;
  color: black;
  background-color: white;
}

.button {
  margin: 0.5vmin 1vmin 2vmin 1vmin !important;
  font-size: calc(5px + 1vmin) !important;
  padding: calc(1px + 1vmin) !important;
}

.listHead {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
  margin-top: 0.5vw;
  font-size: calc(10px + 1vmin);
}

.listArea {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 48vh;
  font-size: calc(10px + 1vmin);
}

.list {
  font-size: calc(10px + 1vmin);
  font-weight: 600;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
  margin-bottom: 1vw;
  color: inherit;
}

.iconProp {
  margin: calc(3px + 2vmin);
  cursor: pointer;
}

.success {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  border-radius: 5px;
  margin: 0 1vw;
  color: green;
  padding: 0.5vw;
}

.error {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 125, 125);
  border-radius: 5px;
  margin: 0 1vw;
  color: red;
  padding: 0.5vw;
}
